<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>net.thomasdye.tds-svc-agent</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>/usr/local/tds-svc-agent/svc-agent.js</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>NODE_ENV</key><string>production</string>
    <key>SVC_AGENT_CONFIG</key><string>/usr/local/tds-svc-agent/tds-svc-agent.json</string>
  </dict>
  <key>KeepAlive</key><true/>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>/var/log/tds-svc-agent.out.log</string>
  <key>StandardErrorPath</key><string>/var/log/tds-svc-agent.err.log</string>
</dict>
</plist>
